In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [3]:
data = pd.read_csv("data/test/panama_paradise.csv")
data = data[data.node_type == "[Entity]"]
data.head()

,Unnamed: 0,entity,category,node_type,pagerank,degree,country,labels
0,0,"""A"" COMPANY INTERNATIONAL EXPORT, INC.",Paradise Papers,[Entity],0.787500,0,Barbados,0
1,1,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.171250,0,Aruba,0
2,2,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.239250,0,Aruba,0
3,3,"""ACRYLIC PRODUCTS LIMITED""",Paradise Papers,[Entity],0.150019,0,Bahamas,0
4,4,"""AEROCOSTA"" EXPRESS",Paradise Papers,[Entity],0.447500,0,Aruba,0

In [6]:
numericalData = data[["pagerank","degree"]]
numericalData.head()

   pagerank  degree
0  0.787500       0
1  0.171250       0
2  0.239250       0
3  0.150019       0
4  0.447500       0

In [7]:
# Model
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1),max_features=1.0)
model.fit(numericalData)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.1,
                max_features=1.0, max_samples='auto', n_estimators=50,
                n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [8]:
data['scores']=model.decision_function(numericalData)
data['anomaly']=model.predict(numericalData)
data.head(20)

,Unnamed: 0,entity,category,node_type,pagerank,degree,country,labels,scores,anomaly
0,0,"""A"" COMPANY INTERNATIONAL EXPORT, INC.",Paradise Papers,[Entity],0.787500,0,Barbados,0,-0.036883,-1
1,1,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.171250,0,Aruba,0,0.092580,1
2,2,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.239250,0,Aruba,0,0.061512,1
3,3,"""ACRYLIC PRODUCTS LIMITED""",Paradise Papers,[Entity],0.150019,0,Bahamas,0,0.156723,1
4,4,"""AEROCOSTA"" EXPRESS",Paradise Papers,[Entity],0.447500,0,Aruba,0,0.047555,1
5,5,"""AHI""AIRPORT HOSPITALITY INDUSTRY N.V.",Paradise Papers,[Entity],0.277500,0,Aruba,0,0.129002,1
7,7,"""AMAZONAS"" SOUVENIRS SHOP",Paradise Papers,[Entity],0.298750,0,Aruba,0,0.082113,1
8,8,"""ANGEL STEPS"" SHOETIQUE",Paradise Papers,[Entity],0.162750,0,Aruba,0,0.098749,1
9,9,"""ART RAP FOUNDATION""",Paradise Papers,[Entity],0.532500,0,Aruba,0,0.060730,1
10,10,"""ARUBA SECRETS""",Paradise Papers,[Entity],0.277500,0,Aruba,0,0.129002,1
11,11,"""ARUSOLAR"" CONSTRUCTION",Paradise Papers,[Entity],0.277500,0,Aruba,0,0.129002,1
12,12,"""AVSERMA"" AVIATION SERVICES & MANAGEMENT CO.N.V.",Paradise Papers,[Entity],0.171250,0,Aruba,0,0.092580,1
14,14,"""BALLOONS"" GIFT AND PARTY CENTER",Paradise Papers,[Entity],0.168214,0,Aruba,0,0.093761,1
15,15,"""BE-IT"" LIMITED",Paradise Papers,[Entity],0.295664,0,Malta,0,0.093711,1
16,16,"""BOUTIQUE"" CAPRICHO'S FASHIONS",Paradise Papers,[Entity],0.213750,0,Aruba,0,0.080390,1
17,17,"""BREAK TIME""",Paradise Papers,[Entity],0.277500,0,Aruba,0,0.129002,1
18,18,"""BRILLO"" CARWASH",Paradise Papers,[Entity],0.283295,0,Aruba,0,0.118474,1
19,19,"""C"" BE MALL LIMITED",Paradise Papers,[Entity],0.150004,0,Saint Kitts and Nevis,0,0.157640,1
20,20,"""CALL ERNIE"" CONSTRUCTION",Paradise Papers,[Entity],0.277500,0,Aruba,0,0.129002,1
21,21,"""CAP""",Paradise Papers,[Entity],0.320000,0,Aruba,0,0.086135,1

In [10]:
data.anomaly.value_counts()/len(data)

 1    0.90017
-1    0.09983
Name: anomaly, dtype: float64

In [ ]:
data

In [11]:
data.anomaly = data.anomaly.map({1:0,-1:1})
data.head()

,Unnamed: 0,entity,category,node_type,pagerank,degree,country,labels,scores,anomaly
0,0,"""A"" COMPANY INTERNATIONAL EXPORT, INC.",Paradise Papers,[Entity],0.787500,0,Barbados,0,-0.036883,1
1,1,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.171250,0,Aruba,0,0.092580,0
2,2,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.239250,0,Aruba,0,0.061512,0
3,3,"""ACRYLIC PRODUCTS LIMITED""",Paradise Papers,[Entity],0.150019,0,Bahamas,0,0.156723,0
4,4,"""AEROCOSTA"" EXPRESS",Paradise Papers,[Entity],0.447500,0,Aruba,0,0.047555,0

In [19]:
other = data.anomaly == data.labels

In [22]:
temp = data.anomaly == 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
count = 0
for i in range(len(temp)):
    if temp[i] and other[i]:
        count += 1

KeyError: 6

In [27]:
(data.anomaly & data.labels).sum()

15